@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
	margin:0;
	font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
  	font-style: normal;
}

body{
	padding: 20px;
	color:white;
	background: linear-gradient(90deg, rgba(41,37,37,1) 0%, rgba(56,50,50,1) 100%);                                  
}

main{
	padding: 20px 0;
	display: flex;
	justify-content: center;
}

footer{
	text-align: left;
	display: flex;
	justify-content: center;
}

textarea { resize: none; }

.action{
	padding: 10px;
	margin-right: 10px;
	border: solid;
	border-color: rgba(41,37,37,1);
	border-radius: 5px;
	background: rgba(56,50,50,1);
	color: white;
}

.action:hover{
	background: white;
	color: black;
}

.date{
	display: flex;
	justify-content: center;
	font-size: 32px;
	color: white;
}

.schedule{
	padding: 5px 0 0;
}

